# created by virtualenv automatically
Lib/
Scripts/
include/
pyvenv.cfg
.idea/
Yektanet/db.sqlite3
Yektanet/Yektanet/__pycache__/
Yektanet/advertiser_management/__pycache__/
Yektanet/advertiser_management/migrations/__pycache__/
Yektanet/advertiser_management/serializers/__pycache__/

