<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            crossorigin="anonymous">
        <title>Ad Create</title>
    </head>

    <body>
        <div class="container" dir="ltr">
            <h1>Create new Ad</h1>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'advertiser_management:create' %}" method="post" class="form">
            {% csrf_token %}
                <label for="advertiser_id">Advertiser ID</label>
                <br>
                <input type="number" name="advertiser_id" id="advertiser_id" required>
                <br>
                <label for="image">Image</label>
                <br>
                <input type="text" name="image" id="image" required>
                <br>
                <label for="title">Title</label>
                <br>
                <input type="text" name="title" id="title" required>
                <br>
                <label for="link">URL</label>
                <br>
                <input type="text" name="link" id="link" required>
                <br>
                <input type="submit" value="Save">
            </form>
        </div>
    </body>
</html>